@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;

  --primary-navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --white: #e6f1ff;
  --primary-green: #64ffda;


  --primary-purple: #8739F9;
  --secondary-purple: #C651CD;
  --primary-text: #363636;

  --primary-black: #100f10;
  --secondary-black: #1B1B1B;
  --tertiary-black: #242424;
  

}

body {
font-family: "Roboto Condensed", sans-serif !important;
}


/************************ NAVBAR *********************************/

nav {
  z-index: 2;
}

.logo {
  padding-top: 0.75rem;
  width: 4rem;
 
}
.navbar-custom{
  background-color: var(--primary-black) !important;
}
/*----- MENU LINKS --------*/
nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px) {
 .navbar-brand {
   width: 7rem;
 }
}

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-purple);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-purple);
}


/************************ HEADER *********************************/

.header-wraper {
  position: relative;
  background: url(wall-and-laptop-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: var(--primary-white);
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h3 {
  color: var(--primary-green);

}
.main-info h1,h2 {
  color: var(--primary-white);

}



@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;

  }
}

/*-------- TYPED TEXT ---------------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;

  }
}

/*-------- HEADER MAIN OFFER BUTTON ---------------*/

.btn-main-offer {
  border: 1px solid var(--primary-purple);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-purple);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}

/*-------- PARTICLES JS ---------------*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}



/*********************************************ABOUT ME *************************************************************/
.aboutMe{
  background-color: var(--secondary-black);
}
.AboutMeParagraph{
  color:var(--primary-white);
}
.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;


}
.profile-img{
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-purple);
}
.about-heading{
  color: var(--primary-white);
  text-transform: uppercase;

}
@media(max-width: 468px){
  .profile-img{
  width: 10rem;}


}

/*************************************SERVICES***************************/
/************************ SERVICES *********************************/
.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--tertiary-black);

}

.services h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-purple);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-purple);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-text);
  color: var(--primary-white);
}



/*FLOATING SOCIAL MEDIA CONTACTS*/

.SocialMedias{
  
  z-index: 3;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}

.SocialMedias a {

  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: var(--primary-white);
  size: 1.75em;

}

.SocialMedias a:hover{
  color: var(--primary-purple);
}

@media only screen and (max-width: 993px) {
  .SocialMedias {
    display: none;
  }
}

/*------------ MEDIA ------------------*/
@media(max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }
  
    .experience-wrapper::before {
      left: 0.5rem;
      margin-bottom: 1.875rem;
    }
    .timeline-block-right {
      float: none;
      width: 100%;
    }
    
    .timeline-block-left {
      float: none;
      direction: ltr; 
      width: 100%;
    }
  }